body {
  font-family: Kanit, sans-serif;
  font-size: 16px;
}

p {
  font: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #893b3b;
  font-weight: 200;
  margin-bottom: .5rem;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #e1cdcd;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover {
  border-bottom: 2px solid rgba(0, 0, 0, .25);
}

.bg-black {
  background: #000;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #333;
  }
  .list-group-item {
    background: none;
    border-color: rgba(255, 255, 255, .025);
  }
}

.nav-pills .nav-link, .nav-item .nav-link, .navbar, .nav-tabs .nav-link, .tag, .tag [data-role="remove"] {
  transition: none;
  border-radius: 0;
}

.navbar {
  .navbar-toggler {
    font-size: 200%;
    width: auto;
    height: auto;
    padding: 8px 10px;
    border-radius: 0;
    margin: 0 20px 0 0;
    background: red;
    &.collapsed {
      background: #050505;
    }
  }
  .navbar-nav {
    .nav-item {
      .dropdown-item {
        .fas,
        svg[role='img'] {
          margin: 0 .5em 0 0;
        }
      }
      .nav-link {
        .fas,
        svg[role='img'] {
          margin: 0 .25em 0 0;
        }
        &:not(.btn) {
          background: none;
          border-radius: 0;
          border: 0;
          border-bottom: 4px solid transparent;
          font-size: 100%;
          &:hover {
            background: none;
            border-bottom-color: #b94a4a;
            border-radius: 0;
          }
        }
      }
      &.active .nav-link:not(.btn),
      &.show .nav-link:not(.btn),
      .nav-link:not(.btn):focus {
        background: #fff;
        border-radius: 0;
        color: #000;
      }
    }
  }
}

.card {
  &.dashboard-box {
    .icon-background {
      color: #808080;
    }
    .header {
      color: #000;
    }
    .description {
      color: #f00;
    }
  }
  &.dashboard-table {
    .card-header {
      background-color: black;
      color: white;
      margin-top: 0px;
      padding: .75rem 1.25rem;
    }
  }
}

a, a:focus, a:hover {
  color: #b94a4a;
}

.footer .copyright {
  font: inherit;
}

#structure-airlines > .nav-links {
  color: white;
}

.leaflet-marker-icon {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.quote-1,
.quote-2 {
  background: #e4d2d2;
  border-radius: 1em;
  border: 1px solid;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .25);
  color: #893b3b;
  font-size: 200%;
  font-weight: 700;
  margin-top: 2em;
  padding: 2em;
  position: relative;
  text-align: center;
}

.social-buttons {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  &::before {
    content: 'Follow us:';
    font-weight: bold;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
}

.social-button {
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  font-size: 200%;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  text-align: center;
  width: 1.5em;
  &:hover {
    border-color: #b94a4a;
    color: #b94a4a;
  }
}

.sponsors {
  [role='group'] {
    overflow: auto;
  }
  a {
    img {
      filter: #{'grayscale()'};
      min-width: 150px;
      opacity: .5;
      transition: all .5s ease-out;
    }
    &:focus,
    &:hover {
      img {
        filter: none;
        opacity: 1;
      }
    }
  }
}

.row-home {
  .col-md-6 {
    height: 500px; // Adjust height manually!
    .nav-tabs {
      background: #f96332;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .125);
      padding-left: 1.25em;
      padding-right: 1.25em;
    }
    > .card {
      height: 100%;
      .card {
        box-shadow: none;
        overflow: auto;
      }
    }
  }
}

.vatsim-events {
  border: 0;
  display: block;
  height: calc(100% - 54px);
  width: 100%;
}