body {
    font-family: Kanit, sans-serif;
}

.bg-black {
    background: #000;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 100%;
}

.card.dashboard-table .card-header {
    background-color: black;
    color: white;
    margin-top: 0px;
    padding: .75rem 1.25rem;
}

a, a:focus, a:hover {
    color: red;
}

.footer-black {
    background-color: black;
    color: white;
}

#structure-airlines > .nav-links {
    color: white;
}

.bg-black {
    background-color: black;
}

.leaflet-marker-icon {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}